{% extends 'base.html.twig' %}

{% block title %}Big Events - About{% endblock %}

{% block body %}
<fieldset>
    <legend class='h2'>Create. Compete. Celebrate.</legend>
		<br><br>
        <div class="container py-4">
        <p>
            The events of your lifetime, right before your eyes. 
            <br><br>
            Enjoy our refined selection of events from sport, music, performance, culture, and gastronomy category which will cater all of your interests.
            <br><br>
            Join us to create, compete, and celebrate.
        </p>
    </div>
     </fieldset>
        {% endblock %}
